*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;



    @include respond(laptop) {
        font-size: 56.25%; // 9px
    }

    @include respond(tab-port) {
        font-size: 50%; // 8px
    }

    @include respond(phone) {
        font-size: 37.5%; // 6px
    }
}

body {
    font-family: $font-primary;
    background-color: $color-white;
}