// Color Variables

$color-primary: #0f1431;
$color-primary-lightest: #375886;
$color-primary-light: #3649b3;
$color-primary-dark: #080c22;
$color-button-hover: #578dd8;

$color: #3f54c9;


$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #ccc;
$color-grey-dark-3: #636161;


// Font Variables 
$font-primary: 'Raleway', sans-serif;

$font-display: 'Poppins', sans-serif;




